@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/header.css");



body {
	font-family: 'Lora', serif;
	font-size: 18px;
	background-color: rgb(230,230,230);
	text-align: center;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: bold;
}
a {
	text-decoration: none;
}